.div-produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
}
.div-produtos li{
    flex: 1;
}
.div-produtos img{
    width: 150px;
    height: auto;
}