.carro {
    font-size: 3.87em;
    color: #fff;
    position: fixed;
    align-items: center;
    position: fixed;
    top: 90%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color:  rgb(2, 153, 17);
    padding: 0.20em;
    border-radius: 1em ;
}

.adCarro {
    font-size: 2em;
    color: #fff;
    position: fixed;
    align-items: center;
    position: fixed;
    top: 86%;
    left: 90%;
    transform: translate(-50%, -50%);

    z-index: 9999;
    border-radius: 1em;
}

.comp {
    
    font-size: 1em;
    color: #fff;
    position: fixed;
    align-items: center;
    position: fixed;
    top: 94%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(2, 153, 17);
    padding: .10em;
    border-radius: 0.30em  0.30em  0.45em  0.45em;
    font-family: 'REM', sans-serif;
    font-weight: 700;
}
@media screen and (min-width : 600px){
    .carro {
        top: 90%;
        left: 83%;
       
    }
    
    .adCarro {
        top: 86%;
        left: 88%;
    }
    
    .comp {
        top: 94%;
        left: 83%;
        
    }
}
