.carro{
    font-size: 4em;
    color: #fff;
    position: fixed;
    align-items: center;
    position: fixed;
    top: 93%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(59, 140, 9, 0.9);
    padding: 0.20em;
    border-radius: 1em;
}
.adCarro{
    font-size: 2em;
    color: #fff;
    position: fixed;
    align-items: center;
    position: fixed;
    top: 89%;
    left: 90%;
    transform: translate(-50%, -50%);
    
    z-index: 9999;
    border-radius: 1em;
}