.produto {
    flex: 1;
    color: white;
    border-radius: .45em;
    box-shadow: rgba(7, 118, 2, 0.966) 0px 7px 29px 0px;

}

.produto img {
    padding-top: 1em;
    margin-bottom: .45em;
}

.produto h3 {
    font-size: 1.40em;
    position: relative;
    font-family: 'REM', sans-serif;
    font-weight: 400;
}

.produto h4 {
    color: rgb(10, 134, 10);
    margin-bottom: .45em;
    font-family: 'REM', sans-serif;
    font-weight: 700;
}

.divPreco {
    display: flex;
    align-items: center;
    text-align: center;
    padding: .3em;
    justify-content: center;
    padding-bottom: .8em;
}

.divPreco h5 {
    color: black;
    padding: .35em;
    margin-right: .25em;
    border-radius: .48em;
    background-color: yellow;
    font-size: 1.2em;
    font-family: 'REM', sans-serif;
    font-weight: 700;
}

.divPreco .iconeComprar {
    font-size: 2.6em;
    background-color: rgba(14, 40, 1, 0.404);
    box-shadow: rgba(2, 46, 31, 0.945) 0px 48px 100px 0px;
    border-radius: .20em .20em .20em .20em;
    padding: 0.12em;
}

.divPreco .iconeConfirmado {
    font-size: 2.6em;
    padding: 0.16em;
    animation: moviment .45s;
}

@keyframes moviment {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px) rotate(-5deg);
    }

    20% {
        transform: translateX(5px) rotate(5deg);
    }

    30% {
        transform: translateX(-5px) rotate(-5deg);
    }

    40% {
        transform: translateX(5px) rotate(5deg);
    }

    50% {
        transform: translateX(-5px) rotate(-5deg);
    }

    60% {
        transform: translateX(5px) rotate(5deg);
    }

    70% {
        transform: translateX(-5px) rotate(-5deg);
    }

    80% {
        transform: translateX(5px) rotate(5deg);
    }

    90% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.displayNone {
    display: none;
}




.mostrar {
    display: block;
    position: fixed;
    width: 60%;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.826);
    color: #fff;
    padding: 2em;
    z-index: 9999;
    border-radius: 1em;
    font-family: 'REM', sans-serif;
    font-weight: 400;
}

.iconeVoltar {
    font-size: 2.5em;
    position: absolute;
    left: 8%;
    top: 5%;
}
.a{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}