.container-p {
    font-family: 'REM', sans-serif;
    font-weight: 700;
}

.div-item-i {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container-p .i {
    margin: 0.25em 0 .30em 0.30em;
    font-size: 1.5em;
}

.container-p .h {
    display: flex;
    align-items: center;
    margin-top: .85em;
    margin-bottom: 1em;
}

.container-p h4 {
    text-align: center;
    width: 75%;
}

.btn-enviar {
    font-size: .85em;
    background-color: rgb(40, 244, 18);
    border: none;
    color: aliceblue;
    border-radius: .45em;
    align-items: center;
    padding: .35em;
    gap: .35em;
    display: flex;
    position: fixed;
    top: 94%;
    left: 78%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.btn-enviar .icon-enviar {
    font-size: 1.5em;
}

.valorTotal {
    order: none;
    color: aliceblue;
    border-radius: .45em;
    align-items: center;
    padding: .35em;
    gap: .35em;
    display: flex;
    position: fixed;
    top: 94%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.semNadaNoCarrinho {
    margin-top: 20%;
    color: #900;
    font-weight: 900;
}