@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&family=REM:wght@400;700&family=Source+Code+Pro&display=swap');

.App {
    background-color: rgb(0, 0, 0);
   
}

.App h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 1em 1em .20em 1em;
    background-color: black;
    margin-bottom: 1em;
    font-family: 'REM', sans-serif;
    font-weight: 700;
    
}

.App span {
    color: rgb(64, 255, 0);
}

.pagCarrinhoDeCompras {
    font-size: 2em;
    color: white;
}

.pc {
    display: none;
}

@media screen and (min-width: 500px) {
    .App {
        display: none;
    }

    .pc {
        display: block;
        color: white;
        font-size: 6em;
        text-align: center;
        margin-top: 10%;
    }
}
.App .footer-loja{
    font-family: 'REM', sans-serif;
    font-weight: 700;
    font-size: 1.50em;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 1em 0;
}
.App .footer-loja span{
    color: rgb(64, 255, 0) ;
}