.containerItemCarrinhoDeCompras{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    align-items: center;
    font-size: 0.65em;
    margin-bottom:.45em ;
    border-radius: 1em;
    padding: 0.45em;
    box-shadow: rgba(0, 255, 94, 0.2) 0px 7px 29px 0px;


}
.containerItemCarrinhoDeCompras h2{
    font-size: 2em;
}
.containerItemCarrinhoDeCompras img{
    width: 75%;
    height: auto;
}
.containerItemCarrinhoDeCompras .div{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.containerItemCarrinhoDeCompras .icone{
    font-size: 1.5em;
}
.containerItemCarrinhoDeCompras h2{
    color: rgb(0, 255, 13);
}
.containerItemCarrinhoDeCompras h3{
    color: black;
    background-color: yellow;
    border-radius: .45em;
    padding: 0.10em;
    border: none;
    font-weight: 700;
    margin: .20em;
}